/* 改变主题色变量 */
/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #2E669B;
$--color-text-primary: #6c757d;
$--color-text-secondary: #6c757d;
$--color-text-regular: #adb5bd;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";




